@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
/* sıfırlama */
* {
  font-family: "Radio Canada Big", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
/* Renkler */
:root {
  --text-color: black;
  --main-color: #243595;
  --background-color: #ececec;
  --container-color: #1f1f1f;
}

body {
  background-color: white;
  color: var(--text-color);
}

.container {
  max-width: 1070px;
  margin: auto;
  width: 100%;
  
}

header {
  position: fixed;
  background-color: var(--background-color);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

#menu-icon {
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
  display: none;
}

.logo{
    font-size: 24px;
    color: var(--main-color);
    font-weight: bold
}

.navbar {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  color: var(--main-color);
  font-weight: 700;
}

#cart-icon {
  position: relative;
  font-size: 29px;
  color: var(--main-color);
  cursor: pointer;
}

.bxs-shopping-bag {
  position: relative;
  font-size: 29px;
}

.bxs-shopping-bag::after {
  content: attr(data-quantity);
  position: absolute;
  top: 0;
  right: -11px;
  background-color: var(--main-color);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
}

/* home */
.home {
  position: relative;
  background-color: white;
  min-height: 700px;
}

.home-img{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
}

.home-img img{
  width: 100%;
  max-width: 700px;
  
}

.home-img::before{
  content: "Coloring Syle";
  font-size: 144px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -28px;
  color: var(--main-color);
  z-index: -1;
  font-weight: 400;
}

/* products */
.heading{
  text-align: center;
  font-size: 64px;
  font-weight: 900;
}

.products-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 16px;
  margin-top: 32px;
}

.products-img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.products-info{
  display: flex;
  flex-direction: column;
}
.products-title{
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin: 12px 0 8px;
}

.products-price{
  font-size: 19px;
  font-weight: 400;
  color: var(--main-color);
}

.add-to-cart{
  background: var(--main-color);
  color: var(--background-color);
  padding: 10px;
  margin-top: 45px;
  letter-spacing: 1px;
  cursor: pointer;
}
/* footer */

/* ?responsive */

@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .home-img::before{
    font-size: 128px;
    top: -35px;
  }
  .products-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 910px) {
  .nav {
    padding: 18px 0;
  }
  .home-img::before{
    font-size: 96px;
    top: -35px;
  }
  .products-container{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:720px){
  .home{
    min-width: 550px;
  }
  .home-img::before{
    font-size: 80px;
    
  }
}

@media (max-width: 550px) {
  #menu-icon {
    display: initial;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background: var(--background-color);
    row-gap: 8px;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 20px 20px rgba(237, 237, 237, 0.45);
    clip-path: circle(0% at 0% 0%);
    transition:all 0.5s;
  }
  .nav-link{
    display: block;
    padding: 15px;
  }
.navbar.open-menu {
  clip-path: circle(144% at 0% 0%);
}
.home{
  min-width: 520px;
}
.home::before{
  font-size: 64px;
  top: -30px;
}
.products-container{
  grid-template-columns: repeat(2, 1fr);
}
}
@media (max-width: 400px){
  .products-container{
    grid-template-columns: 1fr;
  }
}